#aboutMe{
    background-color: honeydew;
    margin: 50px;
    text-align: center;
    font-size: large;
}

body {
    background-color: lightslategrey;
}

img {
    width: 50%;
    height: auto;
}
footer{
    text-align: right;
}